:root {
  --color-grey: #999;
  --color-dark: #000;
  --color-white: #fff;
  --color-light: #eee;
}

body {
  background-color: #fafafa;
  min-height: 70vh;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
  color: #808285;
  font-family: "Lato", sans-serif;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  text-align: center;
}


.tracker {
  width: 250px;
  height: 500px;
  min-height: 500px;
  min-width: 250px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 0.8rem;
  display: inline-block;
  font-size: 50%;
  cursor: pointer;
  text-decoration: none;
  color: #808285;
}


.tracker-add {
  text-align: right;
  padding: 1rem 1rem;
}

.btn-group-vertical button {
  margin: 1rem 0 0;
  margin-bottom:10px;
  border-radius:5px;
  font-size: 0.7rem;
}

.btn-group-vertical button:focus {
  outline:none;
  box-shadow: none;
}

p {
  font-size: 0.7rem;
}

table {
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  border-spacing: 0;
}


.circle-logged {
  padding: 0 0;
  background: white;
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 50%;
  margin: auto auto;
  position: relative;
  border: none;
}

.circle-unlogged {
  padding: 0 0;
  background: transparent;
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 50%;
  margin: auto auto;
  position: relative;
  border: none;
}

.tableHeader {
  color: #fafafa8f;
  text-align: center;
}

.table-item {
  text-align: center;
}

input[type="button"] {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #808285;
}



i {
  color: #52616b;
  font-size: 25px;
  line-height: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  border: none;
}

a:focus, button:focus {
  outline:none;
  text-decoration: none;
}

/***************/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
}

.side-left {
  min-width: 100px;
  border-right: 1px solid var(--color-light);
  height: 100%;
  width: 70%;
  text-align: right;
  padding: 10px 5px 10px 10px;
  z-index: 1;
}

.menu {
  text-align: right;
  width: 100%;
}

.menu-logo {
  padding: 0 10px 30px 0;
  text-align: right;
  font-family: McLaren;
  display:block;
  font-size: 1.5rem;
}

.logo-link {
  color:#68a8d3;
}

.logo-link:hover {
  color:#68a8d3;
  text-decoration: none;
}


.menu-item {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0px;
  text-align: right;
}

.menu-link {
  width: 40px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color:transparent;
  font-size: 1.2rem;
}

.menu-link:hover {
  background-color: #f0f5f9;
  color:  #68a8d3;
}

.menu-link:hover i {
  color: #68a8d3;
  text-decoration: none;
}

.menu-link a {
  color: #52616b;
}

.menu-link:hover a {
  color: #68a8d3;
  text-decoration: none;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}


/*********************/
div .side-main {
  position: relative;
  width: 100%;
  min-width: 250px;
  height: 100%;
  text-align: center;
  padding: 10px 10px;
  z-index: - 1  ;
  display: inline-block;
}

/**************************/
div .side-right {
  width: 100%;
  height: 100%;
  min-width: 100px;
  position: relative;
  padding: 10px 10px;
  right: 0;
  text-align: right;
}

div .sign-up-button {
  margin: 0 10px 10px 0;
  display: inline-block
}


/************SIGN IN PAGE/ SIGN UP PAGE**************/

i.auth {
  margin-right: 5px;
}
